doctype html
    html
        head
            title= title
            link(rel='stylesheet', href='/stylesheets/style.css')
        body
            table(border='1')
                thead
                    tr
                        th Nom
                        th Prénom
                        th Date de naissance
                        th Taille
                        th Taille
                        th Poids
                        th Email
                tbody
                    each val in data
                     tr
                        td= val.id
                        td= val.description
                        td= val.date_creation
                        td= val.distance